<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EduGradesPublisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />

    <pages smartNavigation="true" theme="Trinity" renderAllHiddenFieldsAtTopOfForm="true" enableViewStateMac="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>

  <location path="GradesPublisher.asmx">
    <system.web>
      <httpRuntime maxRequestLength="51200" />
    </system.web>
  </location>
  
  
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="51200" />
      </requestFiltering>
    </security>
    <defaultDocument enabled="true">
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <applicationSettings>
    <EduGradesPublisher.Properties.Settings>
      <setting name="PublicKeyCertificateDN" serializeAs="String">
        <value>E=jpe.pinho@gmail.com, CN=edumaterialcertifier.net, OU=Ciber Security Department, O="WebSecureGrades, Inc.", L=Lisboa, S=Portugal, C=PT</value>
      </setting>
    </EduGradesPublisher.Properties.Settings>
  </applicationSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>

  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/DataModel.PublishModel.csdl|res://*/DataModel.PublishModel.ssdl|res://*/DataModel.PublishModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAURON\SQLDEV2012;initial catalog=PublishedGrades;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>