<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EduMaterialCertificator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <EduMaterialCertificator.Properties.Settings>
      <setting name="CertificateDN" serializeAs="String">
        <value>E=jpe.pinho@gmail.com, CN=edumaterialcertifier.net, OU=Ciber Security Department, O="WebSecureGrades, Inc.", L=Lisboa, S=Portugal, C=PT</value>
      </setting>
    </EduMaterialCertificator.Properties.Settings>
  </applicationSettings>
</configuration>