<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebSecureGrades.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <clear />
    <add name="SecureGradesConn" connectionString="Data Source=.\SQLDEV2012;Initial Catalog=SecureGrades;Integrated Security=True" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <sessionState mode="InProc" cookieless="false" timeout="20" cookieName="WEBSECURE_SID" />

    <pages smartNavigation="true" theme="Morpheus" renderAllHiddenFieldsAtTopOfForm="true" enableViewStateMac="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>

    <authorization>
      <!--deny users="?" /-->
    </authorization>

    <authentication mode="Forms">
      <!-- timeout: 1200s = 20m -->
      <forms loginUrl="~/Login.aspx" timeout="1200" protection="All" defaultUrl="Index.aspx" name="WEBSECURE_ASPAUTH" />
    </authentication>

    <membership defaultProvider="SecureGradesMembershipProvider" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add name="SecureGradesMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SecureGradesConn" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="2" passwordAttemptWindow="30" applicationName="/" />
      </providers>
    </membership>

    <roleManager defaultProvider="SecureGradesRolesProvider" enabled="true" cacheRolesInCookie="true" cookieName="WEBSECUER_ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <clear />
        <add name="SecureGradesRolesProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SecureGradesConn" applicationName="SecureGrades" />
      </providers>
    </roleManager>
  </system.web>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <applicationSettings>
    <WebSecureGrades.Properties.Settings>
      <setting name="WebSecureGrades_GradesCertificator_GradesCertifier"
        serializeAs="String">
        <value>http://sauron:8090/gradescertifier.asmx</value>
      </setting>
      <setting name="WebSecureGrades_GradesPublisher_GradesPublisher"
        serializeAs="String">
        <value>http://sauron:8085/gradespublisher.asmx</value>
      </setting>
      <setting name="PublicKeyCertificateDN" serializeAs="String">
        <value>E=jpe.pinho@gmail.com, CN=edumaterialcertifier.net, OU=Ciber Security Department, O="WebSecureGrades, Inc.", L=Lisboa, S=Portugal, C=PT</value>
      </setting>
    </WebSecureGrades.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>